<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="main-container">
      <h1><%= title %></h1>
      <div class="main-image">
        <img src="/images/book.jpg" />
      </div>

      <div class="menu">
        <ul>
          <button id="add-book">Add Book</button>
          <a href="/list" id="list-books">List Books</a>
          <button id="remove-book">Remove Book</button>
        </ul>
      </div>
      <div class="input-area">
        <p id="status-message">Welcome</p>
        <label for="author">Author: </label>
        <input type="text" id="author" name="author" />
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" />
        <button id="submit">Submit</button>
      </div>
    </div>
    <script src="\javascripts\scripts.js"></script>
  </body>
</html>
