<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="main-container">
      <div id="main-heading">
        <h1><%= title %></h1>
        <hr />
      </div>
      <div class="main-image">
        <img src="/images/book.jpg" />
      </div>

      <div id="booksList">
        <ul>
          <% books.forEach((book) => { %>
          <li id="book-items">
            <strong>Author:</strong> <%= book.author %> -
            <strong>Title:</strong> <%= book.title %>
          </li>
          <% }) %>
        </ul>
      </div>
      <div class="main-button-container">
        <a id="return-home" href="/">Go back to home</a>
      </div>
    </div>
    <script src="\javascripts\scripts.js"></script>
  </body>
</html>
