<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="main-container">
      <h1><%= title %></h1>
      <div class="main-image">
        <img src="/images/book.jpg" />
      </div>

      <div class="menu">
        <ul>
          <button id="add-book">Add Book</button>
          <button id="list-books">List Books</button>
          <button id="remove-book">Remove Book</button>
        </ul>
      </div>
      <div id="booksList">
        <ul>
          <% books.forEach((book) => { %>
          <li id="book-items">
            <strong>Author:</strong> <%= book.author %> -
            <strong>Title:</strong> <%= book.title %>
          </li>
          <% }) %>
        </ul>
      </div>
      <a href="/">Go back to home</a>
    </div>
    <script src="\javascripts\scripts.js"></script>
  </body>
</html>
